
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center; 
  align-items: center;    
  overflow: hidden;     
}

.loading-background-gif {
  position: absolute;   
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;     
  filter: blur(4px) brightness(0.7); 
  transform: scale(1);      
   }

.loading-content {
  position: relative;  
  z-index: 1;
  
}